/*圆环图组件样式*/
html {
	font-size: 62.5%;
}
body {
	font-family: "microsoft yahei";
	color: #222;
}
.h5-component-name-ring-all .mask,
.h5-component-name-ring-1 .mask,
.h5-component-name-ring-2 .mask,
.h5-component-name-ring-3 .mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #fff;
	z-index: 99;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.h5-component-name-ring-all .text,
.h5-component-name-ring-1 .text,
.h5-component-name-ring-2 .text,
.h5-component-name-ring-3 .text {
	position: absolute;
	z-index: 999;
	left: 50%;
	top: 50%;
	height: 24px;
	text-align: center;
	transition: all 1s;
	transform: translate(-50%,-50%);
}
